<a href="https://colab.research.google.com/github/laaaaaayq/sample/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1.How do you create a for loop that prints the numbers 1 to 10?

In [ ]:
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

2.How do you create a for loop that iterates over a list and prints each item?

In [ ]:
list1=['apple','mango','banana']
for a in list1:
 print(a)

apple
mango
banana

3.How do you create a for loop that calculates the sum of the numbers in a list?

In [ ]:
list2=[2,4,6,7,23]
sum=0
for i in list2:
  sum=sum+i
print("Sum of the numbers is",sum)

Sum of the numbers is 42

4.How do you create a for loop that prints the even numbers from 1 to 10?

In [ ]:
for i in range(2,11,2):
 print(i)

2
4
6
8
10

5.How do you create a for loop that prints a multiplication table for a given number?

In [ ]:
no=int(input("Enter the number : "))
for i in range(1,11):
 print(no,"*", i, "=", no*i)

Enter the number : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

7.How do you create a for loop that iterates over a dictionary and prints each key-value pair?

In [1]:
dict1={'name':'ram','age':17,'place':'ootty'}
for key,values in dict1.items():
 print(key,":",values)

name : ram
age : 17
place : ootty

8.How do you create a for loop that iterates over a string and prints each character?

In [ ]:
str1="Bilshad is bichu"
for i,y in enumerate(str1):
 print("The",i+1,"th character is",y)

The 1 th character is B
The 2 th character is i
The 3 th character is l
The 4 th character is s
The 5 th character is h
The 6 th character is a
The 7 th character is d
The 8 th character is
The 9 th character is i
The 10 th character is s
The 11 th character is
The 12 th character is b
The 13 th character is i
The 14 th character is c
The 15 th character is h
The 16 th character is u

9. How do you create a for loop that iterates over a list of strings and prints the length of each string?

In [ ]:
list2=['none','of','your','business']
for j in list2:
 print(j,len(j))

none 4
of 2
your 4
business 8

10.  How do you create a for loop that iterates over a range of numbers and only prints the numbers that are divisible by 3?

In [ ]:
for i in range(1,31):
 if(i%3==0):
   print(i)

3
6
9
12
15
18
21
24
27
30