<a href="https://colab.research.google.com/github/laaaaaayq/sample/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Write a Python program to remove the intersection of a 2nd set from the 1st set.

In [ ]:
set1={23,46,'name'}
set2={'name',54,75}
print(set1-set2,set2)

{46, 23} {75, 54, 'name'}


Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
set3=set(input("Enter the set :"))
set4=set(input("Enter the element you want to remove :"))
print(set3-set4)

Enter the set :2,4,5,7
Enter the element you want to remove :4
{'2', '7', '5', ','}


Write a Python program to create an intersection of sets.

In [ ]:
set5={'india','pakistan','china'}
set6={'india'}
print(set5&set6)

{'india'}

Write a Python program to remove item(s) from a given set.

In [ ]:
set5.remove('india')
print(set5)

{'china', 'pakistan'}

Write a Python program to create a union of sets.

In [ ]:
set8={1,2,3,4}
set9={2,4,6,8}
print(set8 | set9)

{1, 2, 3, 4, 6, 8}