<a href="https://colab.research.google.com/github/laaaaaayq/sample/blob/main/Tuple2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


How do you convert a list to a tuple in Python?

In [ ]:
list0=[1,2,3]
Tuple1=tuple(list0)
print(Tuple1)

(1, 2, 3)

How to create a tuple from user input in Python?

In [ ]:
A=tuple(input("Enter the tuple :"))
print("user inputed tuple is :", A)

Enter the tuple :2345
user inputed tuple is : ('2', '3', '4', '5')


How do you create a tuple with a repeated element in Python? Example: Input: (1) Output: (1,1,1,1,1,1)

In [ ]:
tuple_8=tuple(input("Enter the tuple : "))
print((tuple_8)*6)

Enter the tuple : 2
('2', '2', '2', '2', '2', '2')

How do you compare two tuples in Python?

In [ ]:
my_tuple=(1,3)
my_tuple2=2,4}
print(my_tuple < my_tuple2)

False